<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>T-Systems</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>

<body>
	<div th:unless="${#lists.isEmpty(employees)}">
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Last name</th>
					<th>Age</th>
					<th>Gender</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody th:each="employee : ${employees}">
				<tr>
					<td th:text="${employee.name}" />
					<td th:text="${employee.lastname}" />
					<td th:text="${employee.age}" />
					<td th:text="${employee.gender}" />
					<td><a th:href="@{/delete/{employeeId}(employeeId=${employee.Id})}">
					<img th:src="@{/images/delete.png}"/>
					</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>