<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>T-Systems</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>

<body>
	<div>
		<a th:href="@{/employees}"><span th:text="#{listAll}"></span></a> <a
			th:href="@{/employee/register}"><span th:text="#{register}"></span></a>
		<a th:href="@{/logout}"><span th:text="#{logout}"></span></a>
		<form th:action="@{/index}" method="GET">
			<select name="lang" id="lang">
				<option th:value="portuguese"
					th:style="'background-image:url(' + @{/images/brazil.png} + ');'"
					th:text="#{portuguese}"></option>
				<option th:value="german"
					th:style="'background-image:url(' + @{/images/germany.png} + ');'"
					th:text="#{german}"></option>
				<option th:value="english"
					th:style="'background-image:url(' + @{/images/usa.png} + ');'"
					th:text="#{english}"></option>
			</select><br /> <input type="submit" th:value="#{change}">
		</form>
	</div>
</body>
</html>