<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>T-Systems</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>

<body>
	<div th:unless="${#lists.isEmpty(people)}">
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Last name</th>
					<th>Age</th>
					<th>Gender</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody th:each="person : ${people}">
				<tr>
					<td th:text="${person.name}" />
					<td th:text="${person.lastname}" />
					<td th:text="${person.age}" />
					<td th:text="${person.gender}" />
					<td><a th:href="@{/delete/{personId}(personId=${person.Id})}">
					<img th:src="@{/images/delete.png}"/>
					</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>