<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>T-Systems</title>
</head>
<body>
	<div>
		<form th:action="@{/employee/register}" th:object="${employee}"
			method="POST">
			<label>First name:</label>
			<input type="text" th:field="*{name}"/><br/>
			<label>Last name</label> <input type="text" th:field="*{lastname}" /><br />
			<label>Age</label> <input type="number" th:field="*{age}" /><br /> 
			<label>Gender</label>
			<select th:field="*{gender}">
				<option th:value="'M'" th:text="Male"></option>
				<option th:value="'F'" th:text="Female"></option>
			</select><br /> <input type="submit" value="Register" />
		</form>
		
	</div>
</body>
</html>