<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>T-Systems</title>
</head>
<body>
	<div>
		<form th:action="@{/employee/register}" th:object="${employee}"
			method="POST">
			<label th:text="#{name}"></label> <input type="text" th:field="*{name}" />
			<br /> <label th:text="#{lastname}"></label> <input type="text"
				th:field="*{lastname}" />
				<span th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></span>
				<br /> <label th:text="#{age}"></label> <input
				type="number" th:field="*{age}" /><br /> <label th:text="#{gender}"></label> <select
				th:field="*{gender}">
				<option th:value="'M'" th:text="Male"></option>
				<option th:value="'F'" th:text="Female"></option>
			</select><br /> <input type="submit" value="Register" />
		</form>

	</div>
</body>
</html>